/* Empty. Add your own CSS if you like */
.logo{
  background: url(../img/login.jpg) no-repeat center center fixed;
  /*background:url(../img/fondo.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.fondo{
  /*background: #303B47 no-repeat center center fixed;*/
  background:url(../img/fondo2.jpg) no-repeat center center fixed;
  /*scroll-content*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fondo1{
  background: #EDEDED no-repeat center center fixed;
  /*background:url(../img/fondo.jpg) no-repeat center center fixed;*/
  /*scroll-content*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}