<ion-view  view-title="Tutoría semanales">
  <ion-content class="fondo">
    <ion-header-bar class="bar-positive item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Nombre de tutoria" ng-model="busqueda">
      </label>
    </ion-header-bar>
  
    <div class="list card">
      <div class="row responsive-sm">
        <div class="col">
          <div class="item item-avatar" ng-repeat="i in datosComp | filter:{nom_coe:nom_coe}">
            <h2><strong>Componente:</strong></h2>
            <h3>{{i.nom_coe}}</h3>
          </div>
        </div>
        <div class="col">
          <div class="item item-avatar">
            <h1>{{cont}}</h1>
            <h4>Tutorías</h4>
          </div>
        </div>
      </div>        
    </div> 

    <div class="list card">
      <ion-list>        
        <a class="button button-block icon-left ion-ios-plus button-outline button-positive"
            ng-repeat="i in datosComp |filter: {nom_coe:nom_coe}" href="#/Gtuto/componentes/{{i.nom_coe}}/{{i.cod_coe}}">Agregar nueva tutoria
        </a>
        <div class="list card" type="item-text-wrap" ng-repeat="i in datosTuto | filter:busqueda" 
             ng-if="i.Residencia == nom_coe">
          <div class="item item-button-right ">
            <h2><strong>Tema: {{i.Nombre}}</strong></h2>
            <h5>Creada el {{i.fecha_trama}}</h5>
            <a class="button button-clear button-dark"href="#/Gtuto/componentes/{{Nom_coe}}/EdicionTutorias/{{i.id}}">
              <i class="icon ion-ios-arrow-right"></i>
            </a>
          </div>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>