<ion-view  view-title="Tutoría semanales">
  <ion-content class="fondo">
    <ion-header-bar class="bar-positive item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Nombre de tutoria" ng-model="busqueda">
      </label>
    </ion-header-bar>
  
    <div class="list card">
      <div class="row responsive-sm">
        <div class="col">
          <div class="item item-avatar" ng-repeat="i in datosCompEst | filter:{nombre:nombre}">
            <h2><strong>Componente:</strong></h2>
            <h3 ng-repeat="y in i.paralelos">{{i.nombre}} [{{y.nombre}}]</h3>  
          </div>
        </div>
      </div>        
    </div> 

    <div class="list card">
      <ion-list>
        <div class="list card" type="item-text-wrap" ng-repeat="i in datosTuto | filter:busqueda" 
             ng-if="i.Residencia == nombre">
          <div class="item item-button-right ">
            <h2><strong>Tema: {{i.Nombre}}</strong></h2>
            <h5>Creada el {{i.fecha_trama}}</h5>
            <a class="button button-clear button-dark">
              <i class="icon ion-eye"></i>
            </a>
          </div>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>