<ion-view view-title="Perfil del Usuario">
  	<ion-content class="fondo" scroll="false">
		<div class="list card">
			<div class="item item-body">
		    	<img class="full-image" src="img/cabecera.jpg">
			    <p>
			      Universidad Técnica Particular de Loja
			    </p>
			    <p>
			      <a class="subdued">Estudiante Utpl</a>
			    </p>
		  	</div>
	  		<div class="item item-avatar">
	    		<img ng-src="img/docenteFoto.png" width="150">
	    		<h2><strong>Bienvenid@:<strong></h2>
	    		<p>{{pNombre}} {{sNombre}} {{pApellido}} {{sApellido}} </p>
	    		<button class="button button-icon ion-log-out" ng-click="salir()"> Cerrar sesión</button>
	  		</div>	  		
		</div>
 	</ion-content>
</ion-view>