<ion-view view-title="Perfil del Usuario">
  	<ion-content class="fondo"scroll="false">
		<div class="list card">
	  		<div class="item item-avatar">
	    		<img ng-src="img/docenteFoto.png" width="80">
	    		<h2><strong>Bienvenido/a:<strong></h2>
	    		<p>{{pNombre}} {{sNombre}} {{pApellido}} {{sApellido}} </p>
	    		<h5>Departamento de Sistemas informáticos.</h5>
	    		<h5>fmsoto@utpl.edu.ec</h5>
	    		<button class="button button-icon ion-log-out" ng-click="salir()"> Cerrar sesión</button>
	  		</div>
		</div>
 	</ion-content>
</ion-view>